a {
  text-decoration: none;
}

body {
  max-width: 100%;
  width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/* header styling */

header {
  background-color: aquamarine;
}

.logo {
  border-radius: 75px;
  justify-self: center;
  align-self: center;
  padding: 20px;
}

#company-name {
  text-align: center;
  justify-self: center;
  align-self: center;
}

/* menu styling */

.menu-hide,
.menu-show {
  display: none;
  background-color: white;
  border: 1px solid black;
  border-radius: 20px;
  margin: 0.5rem 0 0 0.5rem;
}

.menu-hide.showing,
.menu-show.showing {
  display: block;
}

#nav-menu {
  margin: 10px;
  padding-inline-start: 0px;
  display: none;
}

#nav-menu.showing {
  display: flex;
}

nav ul {
  text-align: center;
  display: flex;
  flex-direction: column;
}

nav ul li {
  list-style-type: none;
  display: block;
  width: 100%;
}

nav ul li a {
  margin: 20px;
  text-decoration: none;
  display: block;
}

/*main styling */

main {
  display: flex;
  flex-direction: column;
}
#weather {
  text-align: center;
}

iframe {
  width: 100%;
}

/* hero image styling */

.hero-txt {
  align-self: center;
}

#hero-img {
  align-self: center;
  width: 100%;
}

#smoothies h2 {
  text-align: center;
}

/* footer stylings */

footer {
  width: 100%;
}

#container,
#lastmodified,
#currentyear,
#foot-txt {
  text-align: center;
}

#links {
  text-align: center;
  padding-top: 20px;
}
#links a {
  margin: 1rem;
  text-align: center;
}

#resources ul {
  padding-inline-start: 0px;
}

#resources ul li {
  text-align: center;
  list-style-type: none;
}
