@media screen and (min-width: 800px) {
  nav ul {
    flex-direction: row;
  }

  #home-main {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  #hero-section {
    margin: 20px;
  }
  main ~ section {
    margin: 1rem 0.5rem;
  }
  .current-events {
    grid-column: 1;
    margin: auto;
  }

  .hero-img {
    width: 85%;
  }

  #weather {
    text-align: center;
    width: 300px;
    height: 200px;
    margin: auto;
    justify-self: center;
    grid-column: 1/3;
  }

  .img-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
  }
  .img-section img {
    grid-column: 1/4;
    width: 350px;
  }
  .menu-show,
  .menu-hide,
  .menu-show.showing,
  .menu-hide.showing {
    display: none;
  }

  #nav-menu {
    display: flex;
  }

  #disc-main {
    grid-template-columns: 1fr 2fr;
  }
}
