@media screen and (min-width: 800px) {
  nav ul {
    flex-direction: row;
  }

  #home-main {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  #hero-section {
    margin: 20px;
  }
  #meetgreet {
    grid-column: 1/3;
  }
  main ~ section {
    margin: 1rem 0.5rem;
  }
  .current-events {
    grid-column: 1;
    margin: auto;
  }

  .hero-img {
    width: 85%;
  }
  #join-button {
    grid-column: 1;
  }
  #weather {
    text-align: center;
    margin-top: 20px;
    justify-self: center;
    grid-column: 1/3;
    display: grid;
  }

  #three-days {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
  .img-section {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
  }
  .img-section img {
    width: 325px;
  }
  .menu-show,
  .menu-hide,
  .menu-show.showing,
  .menu-hide.showing {
    display: none;
  }

  #nav-menu {
    display: flex;
  }

  #disc-main {
    grid-template-columns: 1fr 3fr;
  }
}
