@media screen and (min-width: 600px) {
  nav ul {
    flex-direction: row;
  }

  main {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .current-events {
    grid-column: 1/3;
  }
  .weather {
    grid-column: 2/3;
  }
  .img-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .menu-show,
  .menu-hide,
  .menu-show.showing,
  .menu-hide.showing {
    display: none;
  }

  #nav-menu {
    display: flex;
  }
  #disc-main {
    display: flex;
  }
}
