@import url();

body {
  max-width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

img {
  height: 200px;
}

header {
  background-color: black;
}

h1 {
  color: white;
}
main {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 100%;
  align-items: center;
}
nav a:link,
nav a:visited {
  color: white;
}

main a:link,
main a:visited {
  color: blueviolet;
}

.card {
  width: 50%;
}
