body {
  text-align: center;
  display: grid;
  height: 50px;
  grid-template-rows: 1fr 1fr 1fr;
}

img {
  height: 200px;
}

header {
  background-color: black;
}

h1 {
  color: white;
}

a:link,
a:visited {
  color: white;
}

#lesson {
  color: blueviolet;
}
