@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");

:root {
  --background-color: #74c7bd;
  --text-color: black;
  --head-background: #274690;
  --links: #302b27;
  --hover-color: royalblue;
  --second-background: #373f51;
}
body {
  max-width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-family: "Mooli", sans-serif;
  background-color: var(--background-color);
}

#dark-mode {
  background-color: white;
}
#self-img {
  padding-top: 10px;
  height: 200px;
}
.temple {
  width: 600px;
  height: 400px;
}
header {
  background-color: var(--head-background);
}

h1,
h3,
p {
  color: var(--text-color);
}

main {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 100%;
  align-items: center;
}

a {
  color: var(--links);
  text-decoration: none;
}

nav ul {
  display: flex;
  flex-direction: column;
}
nav ul li {
  list-style-type: none;
  display: block;
  width: 100%;
  text-align: center;
}

nav ul li a {
  display: block;
  text-decoration: none;
  padding: 1rem;
  text-align: center;
  font-size: 1.5rem;
}

nav ul li a:hover {
  background-color: var(--hover-color);
}

main h2 {
  color: var(--text-color);
  grid-column: 1/3;
}

main hr {
  grid-column: 1/3;
  width: 75%;
  color: aliceblue;
}

.card {
  border: 2px black;
  border-style: solid;
  border-radius: 5px;
  background-color: var(--second-background);
}
.active {
  background-color: var(--hover-color);
}

.menu-hide,
.menu-show {
  display: none;
  background-color: white;
  border: 1px solid whitesmoke;
  border-radius: 5px;
  margin: 0.5rem 0 0 0.5rem;
}

.menu-hide.showing,
.menu-show.showing {
  display: block;
}

#nav-menu {
  display: none;
}

#nav-menu.showing {
  display: flex;
}
